name: Robot Framework CI

on:
  push:
    branches: [ main, ci-test ]
  pull_request:

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Robot Tests
        run: |
          robot -d Result --exitonfailure Tests/

      - name: Upload Robot Reports
        uses: actions/upload-artifact@v4
        with:
          name: robot-report
          path: Result/**
