name: Robot Framework CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: window-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Robot Tests
      run: |
        robot -d Result Tests/

    - name: Upload Robot Reports
      uses: actions/upload-artifact@v4
      with:
        name: robot-report
        path: Result/
